body {
  background-color: red;
}

#container-first {
  width: 100%;
  padding: 1px;
  overflow-y: scroll;
  height: 100vh;
}

#title {
  text-align: center;
}

.select {
  font-family: 'Lobster', cursive;
  text-align: center;
}

#options {
  display: flex;
  flex-wrap: wrap;
}

.option {
  width: 48%;
  margin: 30px 2px;
}

.move{
  width: 100%;
}

.right {
  text-align: right;
}

button:hover {
  cursor: pointer;
}

button {
  border-radius: 8px;
}

.fa {
  width: 100px;
  color: green;
}

@media screen and (min-width: 551px) {
  .size  {
    font-size: 25px;
  }
}

@media screen and (min-width: 800px) {
  #container  {
    width:80%;
    margin: auto;
  }
}

@media screen and (max-width: 550px) {
  .size  {
    font-size: inherit;
  }
}

@media screen and (max-width: 300px) {
  .size  {
    font-size: 10px;
  }
}